.wrapper {

    &__photo {
        width: 80%;
        box-shadow: 0 1rem 3rem rgba($color-black, .4);
        
    }

    &__text {
    
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 2.5rem;
    
    

 
    
}

}